.card{
    width: 15rem;
    color: #000;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #044d29;
    color: #eaff00;
}

.card .btn-primary{
    
    font-weight: bold;
}

.inline-card p{
    display: inline;
}

.card-title{
    color: #eaff00;
}

.card-title:hover{
    color: #eaff00;
}