#mainNav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #12171a;
    color: #ecdce9;
}

#mainNav p {
    margin-right: 22rem;
    color: #ecdce9;
}

#btn-cart{
    margin-left: 5rem;
    color: #ecdce9;
}

.navbar-light .navbar-nav .nav-link{
    color: #ecdce9;
    text-decoration: none;
    font-size: 11pt;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #c1a7b3!important;
    text-decoration: none;
    font-size: 11pt;
}