.App {
  text-align: center;
}

*{
animation: mymove 3s 1;
}

@keyframes mymove {
  from {
        filter: grayscale(57%) brightness(126%) hue-rotate(142deg) contrast(98%);
        -webkit-filter: grayscale(57%) brightness(126%) hue-rotate(142deg) contrast(98%);
        -moz-filter: grayscale(57%) brightness(126%) hue-rotate(142deg) contrast(98%);
      }
  to {
        filter: grayscale(0%) brightness(100%) hue-rotate(0deg) contrast(100%);
        -webkit-filter: grayscale(0%) brightness(100%) hue-rotate(0deg) contrast(100%);
        -moz-filter: grayscale(0%) brightness(100%) hue-rotate(0deg) contrast(100%);
      }
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0b1c1b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.robotofont{
  font-family: 'Roboto', sans-serif;
}

.rockSalt{
  font-family: 'Rock Salt', cursive;
}

.lightfont{
  font-weight: 300;
  font-style: italic;
}

.mediumfont{
  font-weight: 500;
}

.boldfont{
  font-weight: bold;
  font-style: italic;
}

.font14pt{
  font-size: 14pt;
}
.whiteback{
  background-color: #fff;
  color: #0b1c1b;
}
.marginTop-2{
  margin-top: 2rem;
}

.marginBottom-2{
  margin-bottom: 2rem;
}

.marginLeft-2{
  margin-left: 2rem;
}

.formBuyer{
  margin-left: 3rem;
}

.centercard{
  display: inline-block;
  margin-left: 100%;
  margin-right: 100%;
}

.catTitle{
  text-align: center;
  font-size: 14pt;
}

.catImg{
  margin-left: auto;
  margin-right: auto;
  display: block;
}